{% macro ul() %}
<ul class="mx-auto max-w-sm grid-(& flow-row cols-1) gap-10 sm:(max-w-screen-lg grid-cols-2) lg:(grid-cols-3)">
  {{ caller() }}
</ul>
{% endmacro %}

{% macro li(title='Title',sub='',date='',img='/_assets/img/_mast-placeholder.jpg',height='',url='#',bordered=true) %}
<li>
  <a href="{{ url }}" class="group text-white block rounded hover:(text-blue-400)">
    <div class="relative{% if bordered %} after:(h-px bg-white/20 content-[''] absolute inset-x-px top-px motion-safe:(transition) group-hover:(bg-opacity-30 -translate-y-2)){% endif %}">
      <img src="{% if img %}{{ img }}{% else %}/_assets/img/_mast-placeholder.jpg{% endif %}" alt="{{ title }} mast" class="{% if bordered %}border-(1 black) {% endif %}w-full {% if height %}{% else %}h-48{% endif %} object-(cover center) opacity-75 shadow-lg transform motion-safe:(transition) group-hover:(opacity-100 -translate-y-2)" />
      <div class="pt-2 flex items-center">
        <b title="{{ title }}" class="min-w-0 truncate motion-safe:(transition)">{{ title }}</b>
        <small class="ml-auto pl-5 flex-none text-white/80">
          {%- if sub %}{{ sub }}{%- endif %}
          {%- if date %}{{ date.toLocaleDateString("en-US", {month: '2-digit', day: '2-digit', year: 'numeric'}) }}{%- endif %}
        </small>
      </div>
    </div>
  </a>
</li>
{% endmacro %}